/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
  text-align: left;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}

/* Global */
#skip-link {
  display: none;
}
body {
text-align:center;
background:#f2f2f2;
font-family: Arial, Helvetica, sans-serif;
font-size:62%;
}

#two-column-wrapper {
text-align: left;
width:980px;
background:url(images/wrapper.gif) center repeat-y;
margin:0 auto;
overflow: hidden;
}

#wrapper {
text-align: left;
width:700px;
background:url(images/wrapper.gif) center repeat-y;
margin:0 auto;
}
#sidebar-right {
float: left !important;
margin-top: 98px;
width: 180px;
background-color: #f7f7f7;
  border-right:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
}

#sidebar-right .block {
  margin-bottom: 20px;
}

.block .content {
  color:#333333;
  text-decoration:none;
  font-size:1.2em;
  line-height:1.4em;
  font-weight:normal;
  padding: 10px 0;
}

#sidebar-right h2 {
  background-color:#E7E7E7;
  border-top:1px solid #CCCCCC;
  color:#999;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:1.8em;
  font-weight:normal;
  margin-bottom:10px;
  padding:15px 10px;
  text-decoration:none;
}

#container {
width:500px;
margin:0 auto;
text-align:left;

}

#two-column-wrapper #container {
float:left;
margin:0 47px 0 240px !important;
margin: 0 47px 0 120px;
}

a {
color:#9aa915;
text-decoration:none;
}

a:hover {
color:#333;
}

ul, ol {
margin-bottom:10px;
margin-left:20px;
}

ul li {
list-style:square;
}

ol li {
list-style: decimal;
}

dl {
margin-bottom:10px;
}

dt {
font-weight:bold;
}

dd {
padding-left:20px;
font-style:italic;
}

code {
font-size:1em;
font-family:"Courier New", Courier, monospace;
}

strong {
font-weight:bold;
}

em {
font-style:italic;
}

.clear {
clear:both;
}

/* Menu Styling */

#menu {
margin:0 auto;
background:url(images/menubg.gif) top no-repeat;
font-size:1.4em;
height:33px;
text-align:left;
}

#menu ul {
margin:0;
padding:8px 0 0 15px;
width:450px;
float:left;
}

#menu ul li {
display:inline;
}

#menu ul li a {
padding:10px 6px 9px 6px;
color:#FFF;
text-decoration:none;
}

#menu ul li a:hover {
background:url(images/arrow.gif) bottom center no-repeat;
}

.active a {
background:url(images/arrow.gif) bottom center no-repeat;
}

.current_page_parent a {
background:url(images/arrow.gif) bottom center no-repeat;
}

.front .feed {
width:26px;
height:33px;
background:url(images/rss.gif) no-repeat;
float:right;
margin-right:5px;
}

.feed a {
text-decoration:none;
padding:8px 10px 15px 10px;
}

.feed a img { display: none; }

/* Blog Title Styling */

#blog_title {
overflow: hidden;
display: block;
padding-bottom: 10px;
}

.blog_title, .blog_title a {
font-family: Georgia, "Times New Roman", Times, serif;
color:#606060;
padding:15px 10px;
text-decoration:none;
font-size:1.8em;
font-weight:normal;
}

.blog_title a span {
  color: #333901;
}

/* Mission/Image Styling */

#mission {
height:175px;
color:#FFF;
font-size:1.4em;
padding:20px;
line-height:1.6em;
background: transparent url(images/headers/rose.png) top left no-repeat;
}

#mission p {
margin-bottom:10px;
}

#mission a {
color:#FFF;
}

#mission a:hover {
color:#FFF;
text-decoration:underline;
}


/* Primary Content */

#primary {
padding:20px;
}

/* Articles */

.article_title, .article_title a, #primary h2, .not-front h2.top-title  {
font-family: Georgia, "Times New Roman", Times, serif;
color:#606060;
text-decoration:none;
font-size:1.6em;
font-weight:normal;
}

.not-front h2.top-title  {
  font-size: 2.8em;
  background: transparent url(images/titlebg.gif) top left no-repeat;
  height: 54px;
  color: #fff;
  margin-top: 0px;
  padding:.45em 0 0 20px;
}

.not-front #primary .node h2, .not-front #primary .box h2 {
  background-image: none;
  color: #666;
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.article_title a:hover {
color:#9aa915;
}

#primary ul.inline {
  margin-bottom: 1em;
  border-top:1px dashed #CCCCCC;
  border-bottom:1px dashed #CCCCCC;
  display: block;
  float: left;
  padding: 10px;
}

#primary .terms-inline ul.inline {
  margin: 0.5em;
  border-top:0px;
  border-bottom:0px;
  display: inline;
  float: none;
  padding: 5px 0;
  clear: both;
}

#primary .terms-inline ul.inline a {
  color: #666;
}

ul.inline .active a, .tabs .active a {
  background-image:none;
}
.entry {
font-size:1.4em;
line-height:1.6em;
color:#3c3c3c;
margin:10px 0;
}

.entry p {
margin-bottom:20px;
}

.entry a {
color:#9aa915;
text-decoration:none;
}

.entry a:hover {
color:#333;
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5 {
font-weight:normal;
font-family:Georgia, "Times New Roman", Times, serif;
color:#606060;
margin-bottom:5px;
}

.meta, .comment .submitted {
border-top:1px dashed #cccccc;
margin:0 -20px 15px -20px;
padding:10px 20px 10px 40px;
font-size:.85em;
color:#949494;
background:url(images/info.gif) left no-repeat;
}

.meta a {
color:#9aa915;
text-decoration:none;
}

.meta a:hover {
color:#333;
}

.meta_entry {
border-top:1px dashed #cccccc;
margin:0 -20px 15px -20px;
padding:10px 20px 10px 20px;
font-size:1.2em;
color:#949494;
}

.meta_entry a {
color:#9aa915;
text-decoration:none;
}

.meta_entry a:hover {
color:#333;
}

/* Pages */

.page_title, .page_title a {
font-family: Georgia, "Times New Roman", Times, serif;
color:#606060;
text-decoration:none;
font-size:1.6em;
}

.page-body {
font-size:1.4em;
line-height:1.6em;
color:#3c3c3c;
margin:10px 0;
}

.page-body p {
margin-bottom:20px;
}

.page-body h1, .page-body h2, .page-body h3, .page-body h4, .page-body h5 {
font-weight:normal;
font-family:Georgia, "Times New Roman", Times, serif;
color:#606060;
margin-bottom:5px;
}

.page-body h1 {
  font-size: 1.5em;
}

.page-body a {
color:#9aa915;
text-decoration:none;
}

.page-body a:hover {
color:#333;
}

.archive_title {
font-family: Georgia, "Times New Roman", Times, serif;
color:#606060;
text-decoration:none;
font-size:1.8em;
font-weight:normal;
}

.edit {
font-size:1.2em;
padding-left:20px;
background:url(images/pencil.gif) left no-repeat;
}

.edit a {
color:#bdbdbd;
text-decoration:none;
}

/* Custom Archives Page */

.archives_left {
width:45%;
float:left;
}

.archives_right {
width:45%;
float:right;
}

/* Comments/Comment Form */

.comments_title {
font-family: Georgia, "Times New Roman", Times, serif;
color:#606060;
text-decoration:none;
font-size:2em;
font-weight:normal;
}

ol.commentlist {
margin:20px 0;
}

ol.commentlist li {
list-style:none;
font-size:1.4em;
padding:10px 20px 10px 20px;
border-bottom:1px dashed #ccc;
margin:0 -20px 0 -20px;
color:#3c3c3c;
background:#F2F2F2;
}

ol.commentlist li p {
margin-bottom:10px;
line-height:1.4em;
}

.alt {
background:#FFF !important;
}

.comment_meta {
padding:5px 0;
font-weight:bold;
}

.comment_meta a {
color:#9aa915;
text-decoration:none;
}

.comment_meta a:hover {
color:#333;
}


.commentno {
color:#cccccc !important;
text-decoration:none;
}

.login {
font-size:1.2em;
color:#8e8e8e;
}

.login a {
color:#9aa915;
text-decoration:none;
}

.login a:hover {
color:#333;
}

label {
color:#8e8e8e;
font-size:1.2em;
}

input#author, input#email, input#url {
margin-bottom:5px;
padding:5px;
width:96%;
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
border:1px solid #dddddd;
}

input#author:hover, input#author:focus, input#email:hover, input#email:focus, input#url:hover, input#url:focus, textarea#comment:hover, textarea#comment:focus {
border:1px solid #7B8902;
}

textarea#comment {
width:96%;
margin:10px 0;
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
padding:5px;
border:1px solid #dddddd;
}

input#submit {
font-family:Arial, Helvetica, sans-serif;
font-size:1.2em;
border:none;
height:28px;
width:158px;
padding:5px;
background:url(images/submit.gif) no-repeat;
}

input#submit:active {
background:url(images/submit.gif) no-repeat;
background-position:bottom;
}

/* Misc / Custom Styles */

img.alignleft {
padding:0 15px 0 0;
}

img.alignright {
padding:0 0 0 15px;
}

blockquote {
padding:0 35px;
font-style:italic;
background:url(images/quote.gif) top left no-repeat;
}

.note {
background:#F2F2F2 url(images/note.gif) top left no-repeat;
border-top:1px dashed #CCC;
border-bottom:1px dashed #CCC;
font-size:.9em;
padding:5px 10px 5px 25px;
color:#6b6b6b;
}

.codebit {
background:#F2F2F2 url(images/code.gif) top left no-repeat;
border-top:1px dashed #CCC;
border-bottom:1px dashed #CCC;
font-family:"Courier New", Courier, monospace;
padding:5px 10px 5px 30px;
}

.dl {
background:#F2F2F2 url(images/dl.gif) top left no-repeat;
border-top:1px dashed #CCC;
border-bottom:1px dashed #CCC;
padding:5px 10px 5px 30px;
}

.green {
background:#c4d550;
padding:0 5px;
}

.grey {
background:#dddddd;
padding:0 5px;
}

.navigation {
margin-bottom:25px;
}

.alignleft {
float:left;
padding-left:20px;
background:url(images/previous.gif) left no-repeat;
}

.alignright {
float:right;
padding-right:20px;
background:url(images/next.gif) right no-repeat;
}

.alignleft a, .alignright a {
color:#9aa915;
text-decoration:none;
font-size:1.2em;
}

.alignleft a:hover, .alignright a:hover {
color:#333;
}

/* Footer */

#footer {
background:url(images/footerbg.gif) no-repeat;
height:40px;
padding:10px 20px;
font-size:1.2em;
color:#FFF;
}

#footer a {
color:#9aa915;
text-decoration:none;
}

#footer a:hover {
color:#333;
}

.to_top {
background:transparent url(images/totop.gif) no-repeat scroll 0%;
position:absolute; /*this replaces float - fixes thanks to Larry of http://blog.lroot.com*/
height:18px;
width:19px;
margin:0 0 0 480px; /*this was updated*/
padding:9px 5px;
}

.to_top a {
padding:8px;
}

img#logo {
  float: left;
}

#comments {
border-top:4px dashed #CCCCCC;
clear:left;
display:block;
margin:20px -20px;
padding:20px;
width:460px;
}

.page-contact #primary input {
  width: 437px;
}
